@{
    ViewData["Title"] = "Home Page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<div class="text-center">
    <h1 class="display-4">Trung thu đáng nhớ 2023</h1>
    <p>Chúc bạn một ngày tốt lành ^.^</p>
    <img id="img_logo" src= "@Url.Content("~/image/anh.png")" />
</div>